## Importing the Salary Data

In [11]:
%matplotlib inline

import pandas as pd
import numpy as np
import os
import zipfile

In [12]:
file_path = 'Total.csv'
df = pd.read_csv(file_path, low_memory=False)

In [13]:
df.shape

(312882, 9)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB

In [15]:
df.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,Not Provided,326373.19,326373.19,2011

In [5]:

try:
    df = pd.read_csv(file_path, low_memory=False)
    print("Data imported successfully!")
    print(df.shape)
    print(df.info())
    print(df.head())  
except Exception as e:
    print(f"Error importing data: {e}")

Data imported successfully!
(312882, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB
None
        EmployeeName                                        JobTitle  \
0     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay      Benefits   TotalPay  \
0  167411.18        0.00  400184.25  Not Provided  567595.43
1  155966.02   245131.88  137811.38  Not Provided  538909.28
2  212739.13   106088.18   16452.60  Not Provided  335279.91
3   77916.00    56120.71  198306.90  Not Provided  332343.61
4  134401.60     9737.00  182234.59  Not Provided  326373.19

   TotalPayBenefits  Year
0         567595.43  2011
1         538909.28  2011
2         335279.91  2011
3         332343.61  2011
4         326373.19  2011

In [16]:
df.describe()

            TotalPay  TotalPayBenefits           Year
count  312882.000000     312882.000000  312882.000000
mean    78802.645788     100928.339777    2014.625303
std     53230.758542      66485.186495       2.290899
min      -618.130000      -3628.780000    2011.000000
25%     38803.000000      48955.072500    2013.000000
50%     74908.790000     100011.290000    2015.000000
75%    111386.897500     142376.300000    2017.000000
max    592394.340000     712802.360000    2018.000000

## Creating a Function to Search for Employee Details

In [17]:
def get_employee_details(employee_name):
   
    try:
        employee = df[df['EmployeeName'].str.lower() == employee_name.lower()]
        if not employee.empty:
            return employee.to_dict(orient='records')[0]
        else:
            return {"Error": "Employee not found in the dataset."}
    except Exception as e:
        return {"Error": f"An error occurred: {e}"}

employee_name = input("Enter the employee's name to search: ")
result = get_employee_details(employee_name)
print(result)

Enter the employee's name to search:  DAVID FRANKLIN

{'EmployeeName': 'DAVID FRANKLIN', 'JobTitle': 'BATTALION CHIEF, (FIRE DEPARTMENT)', 'BasePay': '174872.64', 'OvertimePay': '74050.30', 'OtherPay': '37424.11', 'Benefits': 'Not Provided', 'TotalPay': 286347.05, 'TotalPayBenefits': 286347.05, 'Year': 2011}

## PROCESSING THE SALARY DATA WITH A DICTIONARY

In [18]:
def process_salary_data(df):
    try:
        salary_dict = df.set_index('EmployeeName').to_dict(orient='index')
        print("Salary data processed successfully!")
        return salary_dict
    except Exception as e:
        print(f"Error processing salary data: {e}")
        return {}

salary_dict = process_salary_data(df)

print("Example entry from the dictionary:")
for name, details in list(salary_dict.items())[:1]:  
    print(f"Name: {name}, Details: {details}")

Error processing salary data: DataFrame index must be unique for orient='index'.
Example entry from the dictionary:

In [9]:
def process_salary_data(df):
    try:
        if df['EmployeeName'].duplicated().any():
            raise ValueError("Duplicate employee names found. Ensure all employee names are unique.")
        
        salary_dict = df.set_index('EmployeeName').to_dict(orient='index')
        print("Salary data processed successfully!")
        return salary_dict
    except Exception as e:
        print(f"Error processing salary data: {e}")
        return {}

salary_dict = process_salary_data(df)

print("Example entry from the dictionary:")
for name, details in list(salary_dict.items())[:1]:  
    print(f"Name: {name}, Details: {details}")

Error processing salary data: Duplicate employee names found. Ensure all employee names are unique.
Example entry from the dictionary:

In [19]:
def process_salary_data(df):
    try:   
        df = df.drop_duplicates(subset='EmployeeName', keep='first')
        
        salary_data_dict = df.set_index('EmployeeName').to_dict(orient='index')
        print("Salary data processed successfully!")
        return salary_data_dict
    except Exception as e:
        print(f"Error processing salary data: {e}")
        return {}

salary_data_dict = process_salary_data(df)

print("Example entry from the dictionary:")
for name, details in list(salary_data_dict.items())[:1]:  
    print(f"Name: {name}, Details: {details}")

Salary data processed successfully!
Example entry from the dictionary:
Name: NATHANIEL FORD, Details: {'JobTitle': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'BasePay': '167411.18', 'OvertimePay': '0.00', 'OtherPay': '400184.25', 'Benefits': 'Not Provided', 'TotalPay': 567595.43, 'TotalPayBenefits': 567595.43, 'Year': 2011}

## EXPORTING EMPLOYEE DETAILS

In [24]:
def export_employee_to_csv(employee_name):
    try:
        employee = get_employee_details(employee_name)
        
        if isinstance(employee, dict):
            employee = pd.DataFrame([employee])
        
        if employee is None or employee.empty:
            return
        
        export_path = "Employee Profile"
        os.makedirs(export_path, exist_ok=True)
        file_name = os.path.join(export_path, f"{employee_name}_Details.csv")
        employee.to_csv(file_name, index=False)
        
        with zipfile.ZipFile(f"{export_path}.zip", "w") as zipf:
            zipf.write(file_name, os.path.basename(file_name))
        
        print(f"Details of {employee_name} exported and zipped successfully!")
    except Exception as e:
        print(f"An error occurred while exporting: {e}")

employee_name = "DAVID FRANKLIN" 
export_employee_to_csv(employee_name)

Details of DAVID FRANKLIN exported and zipped successfully!